* {
    box-sizing: border-box;
}

.center {
    text-align: center;
    align-items: center;
    margin: auto;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.container {
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    padding: 50px 300px 300px 300px;
    
}

.table {
    border-collapse: collapse;
}

.cell-size {
    width: 35px;
    height: 35px;
}

.top-btns {
    background-color: rgb(70, 173, 207);
    width: 60%;
    height: 50px;
    /* margin: auto; */
}

.top-btns button {
    margin-top: 12px;
}


.game-over{
    display:none;
    width:400px;
    height:500px;
    margin-left:700px;
    position:absolute;
    background-color: pink;
    transition: 1s ease-in-out;
}