*{
    box-sizing: border-box;
}


.center{
    text-align: center;
    align-items: center;
    margin: auto;
}
.cell-size{
    width: 35px;
    height: 35px;
}


.table{
    border-collapse:collapse;
    /* margin:25px 0; */
}

.inline{
    display: inline-block;
}

.hidden{
    display:none;
}